*{
	text-align: center;
	;
}


.moardonuts{
  font-size:2em;
  padding: 20px;
  margin-bottom: 30px;
  margin-top:30px;
  text-decoration:underline;
  color:#0000CD;
  text-shadow: 0.5px 0.5px black;
}

aside{
	border:1px solid;
	
	border-radius:9px;
	background-color:orange;
	position:fixed;
	display:block;
	margin-left:84.5%;
	z-index: 12;


}

.dinopic{
	margin-left:35%;
	padding-right:35%;
	margin-top:5%;
	width:20%;
	position:relative;
}

section{
	float:left;
}

h1{
	margin-bottom: 80%;
	font-family: 'Rock Salt', fantasy;
	font-size: 3em;
	text-align: center;
	color:#B0E0E6;
	text-shadow: 4px 4px black;
	margin-bottom: 100px
}

h3{
	color:black;
	font-family:helvetica;
	margin-left:2.5%;
	margin-right: 15%;
	text-shadow: 1px 1px black;
	padding-top:30px;
	position:relative;
}


body{
	background-color:lightgreen;
}
form{
	border:2px solid;
	width:45%;
	margin-top:30px;
	background-color: lightgreen;
	border-radius: 9px;
}
input{
	background-color:#FFEFD5;
}


table{
	background-color: #00FFB6;
	width:60%;
	margin-top:30px;
	border-radius:9px;
	border-style:2px solid;
	
}

header{
background: linear-gradient(lightgreen,transparent 10%),url('jungle.jpg') center;
background-size:100% 100%;
height:500px;
border-bottom-style: solid;
}


tr:nth-child(odd) {background: #AEEE00}
tr:nth-child(even) {background: #01B0F0}



/*button pseudo classes////////////////////////////////////////////*/

button:link {
  color: rgb(255, 169, 73);
  text-decoration: none;
}

button:visited {
  color: green;
}

button:hover {
  color: red;
  outline-color:  green;
}

button:active {
  color: lightcoral;
}

